*{
    font-family: roboto;
}

nav{
    position:fixed; top:0px; left: 0px;
    background-color: #d9d9d97c;
    width: 100%; height: 10vh;
    z-index: 3;
}

nav ul{
    list-style-type: none;
    padding: 0vh 15vw;
}
li a{
    display: inline;
    float: left;
    text-align: center;
    font-size: 1.4vw;
    padding: 0.8vh 3.5vw;
    text-decoration: none;
}
li a:hover{
    background-color: rgba(0, 70, 42, 0.05);
}

.formImg{
    width: 518px; height: 387px;
    position:absolute; left: 95px; top: 137px;
    background: rgba(217,217,217,0.8);
}
.button {
    display: flex;
    justify-content: center;
}
.imgLabel {
    cursor: pointer;
    font-size: 1em;
}
#chooseFile {
    visibility: hidden;
}
circle{
    fill:#D9D9D9;
}
.select{
    fill:#5A5A5A;
}
.divImg{
    float:left;
    position: relative; top: 0.1px; 
    z-index: 2;
}
.divForm{
    position: relative; left: 250px; top: 130px;
    width: 1150px;
    z-index: 1;
}
.divForm label{
    font-size: 25px;
    color: #000;
    text-align: center;
}
.inputText{
    width: 500px; height: 30px;
    text-align: center;
    border: none;
    position: relative; top: -5px; left: 25px;
    font-size: 120%;
}
hr{
    width: 500px;
    position: relative; left: 45px; top: -3px;
}
.divFormID{
    position: relative; left: 0px; top: -5px;
}
.inputSelect{
    border: none;
    width: 500px; height: 30px;
    text-align: center;
    font-size: 120%;
    position: relative; top: -5px; left: 53px;
}
#goodsPrice{
    width: 250px; height: 30px;
    text-align: right;
    border: none;
    font-size: 120%;
    position: relative; left: 110px; bottom: 7px;
}
::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.won{
    float: right;
    position: relative; left: -250px; bottom: 22px;
    font-size: 20px;
}
#goodsCity{
    border: none;
    width: 240px; height: 30px;
    text-align: center;
    font-size: 120%;
    position: relative; top: -5px; left: 100px;
}
#goodsText{
    width: 1200px; height: 200px;
    font-size: 120%;
    position: relative; bottom: 150px; left: -130px;
    padding: 10px;
    border-radius: 5px;
}
#goodsSubmit{
    width: 400px; height: 50px;
    font-size: 120%;
    float: right;
    position: relative; bottom: 120px; left: -50px;
    border: none;
    background-color: #00462a;
    color: #fff;
    border-radius: 10px;
}