* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}

.image-container {
  background-color: #f0f0f0; /* 이미지 위에 공간의 배경색 설정 */
  text-align: center;
  padding: 20px;
  right : 0px;
}


.v3_870 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v38_275 {
  width: 627px;
  height: 600px;
  background: url("../images/v38_275.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 187px;
  left: 85px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}

.v38_275_t {
  width: 627px;
  height: 600px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 187px;
  left: 85px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}

.v5_1562 {
  width: 619px;
  height: 477px;
  background: url("../images/v5_1562.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 222px;
  left: 808px;
  overflow: hidden;
}
.상품명 {
  width: 619px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Thin;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.가격 {
  width: 526px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 76px;
  left: 0px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.상품소개 {
  width: 565px;
  color: rgba(0,0,0,0.4000000059604645);
  position: absolute;
  top: 145px;
  left: 0px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.판매자 {
  width: 526px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 270px;
  left: 0px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.지역 {
  width: 526px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 310px;
  left: 0px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.상품상태 {
  width: 526px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 350px;
  left: 0px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.이미지바 {
  width: 117px;
  height: 18px;
  background: url("../images/v5_1563.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 816px;
  left: 340px;
  overflow: hidden;
}
.v5_1564 {
  width: 18px;
  height: 18px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 26px;
  border-radius: 50%;
}
.v5_1565 {
  width: 18px;
  height: 18px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v5_1566 {
  width: 18px;
  height: 18px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 99px;
  border-radius: 50%;
}
.v5_1567 {
  width: 18px;
  height: 18px;
  background: rgba(89,89,89,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 76px;
  border-radius: 50%;
}
.v5_1568 {
  width: 18px;
  height: 18px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 51px;
  border-radius: 50%;
}
.v5_1569 {
  width: 524px;
  height: 81px;
  background: url("../images/v5_1569.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 817px;
  left: 791px;
  overflow: hidden;
}

    .button-container {
        display: flex;
        justify-content: flex-end;
        gap: 10px; /* 버튼 간의 간격 설정 */
        position: fixed;
        bottom: 10px;
        right: 10px;
    }

    .customButton {
        display: inline-block;
        width: 236px;
        height: 62px;
        text-align: center;
        line-height: 62px;
        background-color: #cccccc;
        color: #fff;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: bold;
    }


    .customButton:hover {
        background-color: #00aa00;
    }

.name {
  color: #fff;
}
.v5_1575 {
  width: 480px;
  height: 250px;
  background: url("../images/v5_1575.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 678px;
  left: 803px;
  overflow: hidden;
}
.v5_1576 {
  width: 480px;
  height: 100px;
  background: rgba(0,0,0,0.05000000074505806);
  padding: 12px 12px;
  margin: 8px;
  opacity: 1;
  position: relative;
  top: -20px;
  left: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v5_1577 {
  width: 456px;
  height: 102px;
  background: url("../images/v5_1577.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 12px;
  overflow: hidden;
}
.v5_1578 {
  width: 456px;
  height: 32px;
  background: url("../images/v5_1578.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_1579 {
  width: 32px;
  height: 32px;
  background: rgba(0,0,0,0.10000000149011612);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  overflow: hidden;
}
.v5_1580 {
  width: 416px;
  height: 16px;
  background: url("../images/v5_1580.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 40px;
  overflow: hidden;
}
.상점바로가기 {
  width: 416px;
  color: url("../images/v5_1581.png");
  position: relative;
  top: 0px;
  left: 0px;
  font-size: 14px;
  font-family: Roboto;
  font-weight: Medium;
  opacity: 1;
  text-align: left;
}
.상점소개 {
  width: 456px;
  color: rgba(89,89,89,1);
  position: absolute;
  top: 65px;
  left: 20px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.상품찜 {
  width: 500px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 738px;
  left: 560px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
  .REVIEWButton {
    display: inline-block;
    width: 100px;
    height: 50px;
    background-color: #ffffff; /* 흰색 배경색 */
    color: rgba(0, 0, 0, 1);
    font-family: 'Roboto', sans-serif;
    font-weight: Medium;
    font-size: 30px;
    opacity: 1;
    text-align: center;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 966px;
    left: 700px;
  }


.name {
  color: #fff;
}

  .heartButton {
    width: 62px;
    height: 62px;
    background-color: #ff5252;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
	margin-left: 90px;
    transition: background-color 0.3s, transform 0.1s; /* transform 속성을 추가 */
  }

  .heartIcon::before {
    content: '\2764'; /* 유니코드 하트 아이콘 */
    font-size: 30px;
    color: #fff;
  }

  .heartButton:hover {
    background-color: #f44336; /* 마우스 호버 시의 배경색 */
  }

  .heartButton:active {
    transform: scale(0.9); /* 클릭 시 크기를 0.9배로 줄임 */
  }
/* </style> */

.v5_1590 {
  width: 40px;
  height: 34px;
  background: rgba(218,19,19,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v7_1671 {
  width: 217px;
  height: 27px;
  background: url("../images/v7_1671.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 595px;
  left: 982px;
  overflow: hidden;
}
.v7_1672 {
  width: 206px;
  height: 35px;
  background: rgba(12,166,104,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v38_276 {
  width: 35px;
  height: 35px;
  background: url("../images/v38_276.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 497px;
  left: 1149px;
  overflow: hidden;
}
.v38_277 {
  width: 35px;
  height: 35px;
  background: rgba(0,70,42,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v92_43 {
  width: 100%;
  height: 70px;
  background: url("../images/v92_43.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v92_44 {
  width: 100%;
  height: 74px;
  background: url("../images/v92_44.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v92_45 {
  width: 100%;
  height: 74px;
  background: rgba(255,255,255,1);
  opacity: 0.5;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    overflow: hidden;
    z-index: 6;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; /* 텍스트 중앙 정렬을 위한 스타일 추가 */
}

.navbar li {
    display: inline-block; /* 텍스트를 가로로 나란히 배치 */
    margin: 0 10px; /* 텍스트 간격 조정 */
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #555;
}

