/* .83_680 { 
	overflow:hidden;
} */
.e83_680 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:2048px;
	position:absolute;
	overflow:hidden;
}
/* .83_696 { 
	border:1px solid rgba(0, 0, 0, 1);
} */
.e84_14 { 
	color:rgba(0, 0, 0, 1);
	width:338px;
	height:52px;
	position:absolute;
	left:551px;
	top:125px;
	font-family:Anonymous Pro;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
	line-height:px;
}
.button1 {
    width: 1440px;
    height: 820px;
    position: absolute;
    left: 0px;
    top: 204px;
}

.ewhaimage {
    width: 1440px;
    height: 820px;
    position: absolute;
    left: 0px;
    top: 0px;
    background-image: url(/static/images/____4_1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.button1_1 {
    background-color: rgba(217, 217, 217, 0.5);
    width: 433px;
    height: 64px;
    position: absolute;
    left: 530px;
    top: 727px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button1_2.button {
    color: rgba(255, 255, 255, 1);
    width: 100%;
    height: 100%;
    font-family: Roboto;
    text-align: center;
    font-size: 28px;
    letter-spacing: 0;
    line-height: 64px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    display: inline-block;
    text-decoration: none;
}

.button1_2.button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

        .pagination {
            list-style: none;
            display: flex;
            padding: 0;
            width:160px;
   			height:20px;
            position:absolute;
            left:693px;
            top:1811px;
        }

        .pagination-item {
            width: 200px;
            height: 25px;
            border-radius: 50%;
            background-color: #ddd;
            margin: 0 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .pagination-item.active {
            background-color: #4caf50;
        }

.e86_291 { 
	width:1780px;
	height:442px;
	position:absolute;
	left:-153px;
	top:1331px;
}
.product1 { 
	width:356px;
	height:441px;
	position:absolute;
	left:200px;
	top:1px;
}
.image1 { 
	border-radius:500px;
	background-color:rgba(0, 0, 0, 0.05000000074505806);
	width:315px;
	height:315px;
	position:absolute;
	left:20px;
	top:0px;
}
.num1 { 
	color:rgba(89.9583412706852, 89.9583412706852, 89.9583412706852, 1);
	width:223px;
	height:34px;
	position:absolute;
	left:74px;
	top:407px;
	font-family:Roboto;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.marketname1 { 
	color:rgba(0, 0, 0, 1);
	width:356px;
	height:30px;
	position:absolute;
	left:0px;
	top:338px;
	font-family:Roboto;
	text-align:center;
	font-size:23px;
	letter-spacing:0;
	line-height:px;
}
.marketinfo1 { 
	color:rgba(89.9583412706852, 89.9583412706852, 89.9583412706852, 1);
	width:356px;
	height:30px;
	position:absolute;
	left:0px;
	top:375px;
	font-family:Roboto;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.product2 { 
	width:356px;
	height:441px;
	position:absolute;
	left:1250px;
	top:1px;
}
.image2 { 
	border-radius:500px;
	background-color:rgba(0, 0, 0, 0.05000000074505806);
	width:315px;
	height:315px;
	position:absolute;
	left:20px;
	top:0px;
}
.num2 { 
	color:rgba(89.9583412706852, 89.9583412706852, 89.9583412706852, 1);
	width:223px;
	height:34px;
	position:absolute;
	left:74px;
	top:407px;
	font-family:Roboto;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.marketname2 { 
	color:rgba(0, 0, 0, 1);
	width:356px;
	height:30px;
	position:absolute;
	left:0px;
	top:338px;
	font-family:Roboto;
	text-align:center;
	font-size:23px;
	letter-spacing:0;
	line-height:px;
}
.marketinfo2 { 
	color:rgba(89.9583412706852, 89.9583412706852, 89.9583412706852, 1);
	width:356px;
	height:30px;
	position:absolute;
	left:0px;
	top:375px;
	font-family:Roboto;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.product3 { 
	width:356px;
	height:441px;
	position:absolute;
	left:550px;
	top:1px;
}
.image3 { 
	border-radius:500px;
	background-color:rgba(0, 0, 0, 0.05000000074505806);
	width:315px;
	height:315px;
	position:absolute;
	left:20px;
	top:0px;
}
.num3 { 
	color:rgba(89.9583412706852, 89.9583412706852, 89.9583412706852, 1);
	width:223px;
	height:34px;
	position:absolute;
	left:74px;
	top:407px;
	font-family:Roboto;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.marketname3 { 
	color:rgba(0, 0, 0, 1);
	width:356px;
	height:30px;
	position:absolute;
	left:0px;
	top:338px;
	font-family:Roboto;
	text-align:center;
	font-size:23px;
	letter-spacing:0;
	line-height:px;
}
.marketinfo3 { 
	color:rgba(89.9583412706852, 89.9583412706852, 89.9583412706852, 1);
	width:356px;
	height:30px;
	position:absolute;
	left:0px;
	top:375px;
	font-family:Roboto;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.product4 { 
	width:712px;
	height:442px;
	position:absolute;
	left:900px;
	top:0px;
}
.image4 { 
	border-radius:500px;
	background-color:rgba(0, 0, 0, 0.05000000074505806);
	width:315px;
	height:315px;
	position:absolute;
	left:20px;
	top:0px;
}
.num4 { 
	color:rgba(89.9583412706852, 89.9583412706852, 89.9583412706852, 1);
	width:223px;
	height:34px;
	position:absolute;
	left:74px;
	top:407px;
	font-family:Roboto;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.marketname4 { 
	color:rgba(0, 0, 0, 1);
	width:356px;
	height:30px;
	position:absolute;
	left:0px;
	top:338px;
	font-family:Roboto;
	text-align:center;
	font-size:23px;
	letter-spacing:0;
	line-height:px;
}
.marketinfo4 { 
	color:rgba(89.9583412706852, 89.9583412706852, 89.9583412706852, 1);
	width:356px;
	height:30px;
	position:absolute;
	left:0px;
	top:375px;
	font-family:Roboto;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}




.p1 { 
	width:296px;
	height:14px;
	position:absolute;
	left:248px;
	top:1200px;
	font-size:30px;
	line-height:px;
}

.navbar {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    background-color: #333;
    overflow: hidden;
    z-index: 3;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; 
}

.navbar li {
    display: inline-block; 
    margin: 0 25px; 
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #555;
}

.배지이미지 { 
	width:107px;
	height:107px;
	position:absolute;
	left:446.36474609375px;
	top:1566px;
	background-image:url(images/rectangle_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
