*{
box-sizing: border-box;
}

body {
font-size: 20px;
width:1500px;
height:1000px
}

.navbar {
display:flex; /*가로정렬*/
align-items:center; /*수직 중앙 정렬*/
position: fixed;
top: 0;
left: 0;
padding-left:250px;
width: 100%; 
height:50px;
background-color: #333;
overflow: hidden;
z-index: 6;
}

.navbar_logo a{
display:flex;
}

.navbar_logo i{
font-size:30px;
color:white;
padding-top:5px;
}

.navbar_menu{
display: flex; 
list-style:none; /*리스트의 dot제거*/
padding-left: 50px;
}


.navbar a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #555;
}

h1{
margin:100px 0px 40px 0px;
text-align:center;
font-size:36px;
font-weight:bold;
}

#hilighting{
position:absolute;
left:680px;
top:135px;
width:150px;
height:10px;
background-color:rgb(4,120,30,0.4);
border-radius:8px;
}

p{
text-align:center;
margin:5px;
}

#popularStoreImg{
position:absolute;
left:361px;
top:501px;
width:107px;
height:107px;
}

#reviewRateImg{
position:absolute;
left:657px;
top:501px;
width:107px;
height:107px;
}

#reviewNumImg{
position:absolute;
left:954px;
top:501px;
width:107px;
height:107px;
}

#sellNumImg{
position:absolute;
left:361px;
top:708px;
width:107px;
height:107px;
}

#ewhaCertificationImg{
position:absolute;
left:666px;
top:708px;
width:80px;
height:80px;
}

#popularStore{
position:absolute;
left:361px;
top:591px;
font-size:20px;
}

#reviewRate{
position:absolute;
left:657px;
top:591px;
font-size:20px;
}

#reviewNum{
position:absolute;
left:954px;
top:591px;
font-size:20px;
}

#sellNum{
position:absolute;
left:361px;
top:798px;
font-size:20px;
}

#ewhaCertification{
position:absolute;
left:657px;
top:797px;
font-size:20px;
}

span span{
font-size:16px;
color:#7d7777;
}




