{% extends "index.html" %}

{% block section %}



<script>
    function showHeart() {
        $.ajax({
            type: 'GET',
            url: '/show_heart/{{name}}/',
            data: {},
            success: function (response) {
                let my_heart = response['my_heart'];
                if (my_heart['interested'] == 'Y') {
                    $("#heart").css("color","red");
                    $("#heart").attr("onclick","unlike()");
                }
                else {
                    $("#heart").css("color","grey");
                    $("#heart").attr("onclick","like()");
                }
                //alert("showheart!")
            }
        });
    }

    function like() {
        $.ajax({
            type: 'POST',
            url: '/like/{{name}}/',
            data: {
                interested : "Y"
            },
            success: function (response) {
                alert(response['msg']);
                window.location.reload()
            }
        });
    }
    function unlike() {
        $.ajax({
            type: 'POST',
            url: '/unlike/{{name}}/',
            data: {
                interested : "N"
            },
            success: function (response) {
                alert(response['msg']);
                window.location.reload()
            }
        });
    }
    $(document).ready(function () {
        showHeart();
    });
</script>

<p>
{{data.seller}}가 판매하는 상품입니다.<br><br>
상품명: {{name}} <br>
카테고리: {{data.category}}<br>
상품 상태는 5점 만점
{% if data['status'] == "1" %}
1
{% endif %}
{% if data['status'] == "2" %}
2
{% endif %}
{% if data['status'] == "3" %}
3
{% endif %}
{% if data['status'] == "4" %}
4
{% endif %}
{% if data['status'] == "5" %}
5
{% endif %}
점입니다.
</p>
상품 대표 이미지<br>
<p>
상품 설명: {{data.intro}} <br>
상품 금액: {{data.money}}원<br>
거래 지역은 {{data.addr}}입니다.
</p>
<img src="../../static/images/{{data.img_path}}", width=140, height=200>
<button onclick="location.href='/reg_review_init/{{name}}/';">
 리뷰등록
</button>


<i class="fa fa-heart" id="heart" ></i>


{% endblock section %}