body, html {
margin: 0;
padding: 0;
font-size:20px;
position:relative;
height:2600px;
}

.navbar {
display:flex; /*가로정렬*/
align-items:center; /*수직 중앙 정렬*/
position: fixed;
top: 0;
left: 0;
padding-left:250px;
height:50px;
background-color: #333;
overflow: hidden;
z-index: 6;
width:100%;
}

.navbar_logo a{
display:flex;
align-items:center;
}

.navbar_logo i{
font-size:30px;
color:white;
padding-top:5px;
}

.navbar_menu{
display: flex; 
list-style:none; /*리스트의 dot제거*/
padding-left: 50px;
}


.navbar a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #555;
}

.background{
height:300px;
background-color:#ffffcc;
position: relative;
width:100%;
}

.profile_img{
width:130px;
height:130px;
position:absolute;
left:50%;
top:98%;
transform: translate(-50%,-50%);
}

.background img.badge{
width: 70px;
height: 70px;
position:absolute;
right:0%;
top:35%;
transform: translate(-50%,-50%);
}

.background .store_name{
display:flex;
align-items:center;
font-size:30px;
position:absolute;
top:125%;
left:44%;
}

.background .ewhabadge{
padding-left:10px;
width: 30px;
height: 30px;
}

.background .like{
display:flex;
align-items:center;
position:absolute;
left: 47%;
top: 142%;
}

.background #like_img{
padding-left:5px;
width:20px;
height:20px;
}

.background .bio{
position:absolute;
top: 155%;
left: 40%;
}

.announcement{
position:absolute;
left:180px;
top:170%;
margin-top:50px;
padding-right:180px;
padding-left:70px;
border-left: 7px solid rgba(46, 83, 50, 1);
}

section.goodsList{
font-size:25px;
margin: 0px 150px 0px 180px;
position:absolute;
top:32%;
}

section.goodsList .goodsListTitle b{
padding-left:20px;
}

section.goodsList .goodsListContent{
display:flex;
justify-content: flex-start;
flex-wrap:wrap;
}

section.goodsList div hr{
width:70px;
height:5px;
color:black;
background-color:black;
margin:10px 0px 10px 20px;

}

section.goodsList a{
margin:20px;
}

.goods_img {
background-color:rgb(0,0,0,0.05);
width: 250px;
height: 250px;
border-radius:15px;
}

a.goods_list{
text-decoration:none;
color:black;
border-bottom: 1px solid rgb(0, 0, 0, 0.15);
height:404.8px;
}

.goods_name{
margin-top: 10px;
font-size:20px;
}

.goods_price{
font-size:20px;
}

.goods_category ul{
list-style:none;
display:flex;
padding:0px;
margin:40px 0px 0px 0px;
}

.goods_category li span{
margin:3px 5px 0px 0px;
padding:3px 7px;
font-size:15px;
background-color:rgb(0,0,0,0.05);
border-radius:5px;
}

footer{
text-align:center;
line-height:90px;
color:white;
width:100%;
height:90px;
background-color:rgba(46, 83, 50, 0.73);
position:absolute;
top:100%;
}

