<!DOCTYPE html>
<html>

<head>
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Sansation+Light&display=swap" rel="stylesheet" />
<!--link href="main.css" rel="stylesheet" /-->
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

<title>Document</title>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script>
    function showHeart() {
        $.ajax({
            type: 'GET',
            url: '/show_heart/{{name}}/',
            data: {},
            success: function (response) {
                let my_heart = response['my_heart'];
                let interested = my_heart['interested'];
                let interested_cnt = my_heart['interested_cnt'];

                $("#jcnt").text(interested_cnt); // Update the like count

                if (interested === 'Y') {
                    $(".heartButton").css("background-color", "red");
                    $("#heartButton").attr("onclick", "unlike()");
                } else {
                    $(".heartButton").css("background-color", "grey");
                    $("#heartButton").attr("onclick", "like()");
                }
            }
        });
    }

    function like() {
        $.ajax({
            type: 'POST',
            url: '/like/{{name}}/',
            data: {
                interested: "Y"
            },
            success: function (response) {
                $(".heartButton").css("background-color", "red");
                $("#heartButton").attr("onclick", "unlike()");
                var jcnt = Number($("#jcnt").text());
                $("#jcnt").text(jcnt + 1);
                alert(response['msg']);
            }
        });
    }

    function unlike() {
        if ("{{ session.get('id') }}" !== "") {
            $.ajax({
                type: 'POST',
                url: '/unlike/{{name}}/',
                data: {
                    interested: "N"
                },
                success: function (response) {
                    alert(response['msg']);
                    $(".heartButton").css("background-color", "grey");
                    $("#heartButton").attr("onclick", "like()");
                    var jcnt = Number($("#jcnt").text());
                    if (jcnt > 0) {
                        $("#jcnt").text(jcnt - 1);
                    }
                }
            });
        } else {
            alert("Please log in to unlike the item.");
        }
    }

    $(document).ready(function () {
        showHeart();
    });
</script>
    
</head>

<body>



    <div class="v3_870">
        <div class="v38_275"></div>
        <div class="v5_1562">
            <span class="상품명">{{name}}</span>
            <span class="가격">{{data.money}} 원</span>
            <span class="상품소개">{{data.intro}}</span>
            <span class="판매자">판매자             {{data.seller}}</span>
            <span class="지역">지역             {{data.addr}}</span>
            <span class="상품상태">
                {% if data['status'] == "1" %}
                1점
                {% endif %}
                {% if data['status'] == "2" %}
                2점
                {% endif %}
                {% if data['status'] == "3" %}
                3점
                {% endif %}
                {% if data['status'] == "4" %}
                4점
                {% endif %}
                {% if data['status'] == "5" %}
                5점
                {% endif %}
            </span>
        <div class="name"></div>
    </div>
    <div class="image-container">
        <img src="{{ data.img_path }}" alt="Product Image">
        <img src="../../{{ data.img_path }}" width="140" height="200" alt="Product Image">
    
    
    </div>
    
    <div class="이미지바">
        <div class="v5_1564"></div>
        <div class="v5_1565"></div>
        <div class="v5_1566"></div>
        <div class="v5_1567"></div>
        <div class="v5_1568"></div-->
    </td>
    </div>
    <div class="button-container">
        <a href="#" class="customButton" name="buynow">Buy Now</a>
        <a href="#" class="customButton" name="addtocart">Add to Cart</a>
    </div>
    </div>
    <div class="name"></div>
    <div class="v5_1575">
    <div class="v5_1576">
    <div class="v5_1577">
    <div class="v5_1578">
    <div class="v5_1579"></div>
    <div class="v5_1580">
    <a href="#" class="상점바로가기">송충이 상점                                       바로가기</a>
    </div>
    </div>
    </div>
    <span class="상점소개">송충이 상점 한 줄 소개</span>
    </div>
    </div>
<span class="상품찜">찜 <span id="jcnt">15</span>
 	<button class="heartButton"  id="heartButton">
 		 <span class="heartIcon"></span>
	</button>
</span>

<a href="#" class="REVIEWButton">REVIEW</a>
<button onclick="location.href='/reg_review_init/{{name}}/';">리뷰등록</button>

<div class="name"></div>


<div class="v7_1671">

<div class="v7_1672"></div>
</div>
<div class="v38_276">
<div class="v38_277"></div>
</div>
<div class="v92_43">
<div class="v92_44">
<div class="v92_45"></div>
</div>
<div class="navbar">
        <ul>
			{% if session['id'] %}
			<li><a href="/logout"><b>{{session['id']}}님 반갑습니다!</b> logout</a></li> {% else %}
			<li><a href="/login">로그인</a></li>
			{% endif %}
            <li><a href="/">판매상품</a></li>
            <li><a href="/certification">이화인증</a></li>
            <li><a href="/reg_items">마이페이지</a></li>
            <li><a href="#">장바구니</a></li>
        </ul>
    </div>
</div>
</div>
</body>
</html>

