<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width initial-scale=1.0;" />
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link href="{{ url_for('static', filename='signup.css') }}" rel="stylesheet" />
    <title>이화상점: 회원가입</title>
</head>
<body>

    <header>
        <div class="navbar">
        <ul>
            <li><a href="/login">로그인</a></li>
            <li><a href="agreement.html">회원가입</a></li>
            <li><a href="#">판매상품</a></li>
            <li><a href="ewhaCertification.html">이화인증</a></li>
            <li><a href="#">마이페이지</a></li>
            <li><a href="#">장바구니</a></li>
        </ul>
    </div>
    </header>

    <main>
        <section>
            <h1>이화상점</h1>

            <form method="post" action="/signup_post">
                <label class="Label" for="id">아이디*</label>
                <input class="textTypeInput" type="text" id = "id" name = "id" maxlength="16" required style="font-size:20px;" />

                <input type="button" value="중복확인" />

                <label class="Label" for="password">비밀번호*</label>
                <input class="textTypeInput" type="password" id = "password" name = "pw" maxlength="16" required style="font-size:20px;" />

                <label class="Label" for="confirmPassword">비밀번호 확인*</label>
                <input class="textTypeInput" type="password" id ="confirmPassword" name = "conPw" maxlength="16" required style="font-size:20px;" />

                <label class="Label" for="name">이름*</label>
                <input class="textTypeInput" type="text" id ="name" name = "name" maxlength="10" required style="font-size:20px;" />

                <label class="Label" for="email">이메일*</label>
                <input class="textTypeInput" type="text" id ="email" name = "email" required style="font-size:20px;" />

                <label class="Label" for="select-FirstTelNum">휴대전화</label>
                <select id="select-FirstTelNum">
                    <option value="010">010</option>
                    <option value="02">02</option>
                    <option value="031">031</option>
                    <option value="032">032</option>
                    <option value="033">033</option>
                    <option value="041">041</option>
                    <option value="042">042</option>
                    <option value="043">043</option>
                    <option value="044">044</option>
                    <option value="051">051</option>
                    <option value="052">052</option>
                    <option value="053">053</option>
                    <option value="054">054</option>
                    <option value="055">055</option>
                    <option value="061">061</option>
                    <option value="062">062</option>
                    <option value="063">063</option>
                    <option value="064">064</option>
                </select>

                <input type="text" id="middleTelNum" style="font-size:20px;" />
                <input type="text" id="lastTelNum" style="font-size:20px;" />

                <input type="submit" value="회원가입" />
            </form>
        </section>
    </main>
</body>
</html>
